@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
    
}

a{
   white-space: wrap;
   
   text-decoration: none;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 44px;
    column-gap: 25px;
    height: 80px;
    align-items: center;
    width: 100%;
}
header #logo{
    width: 200px;
}
ul {
    list-style: none;
    display: flex;
}
img:hover{
    opacity: 0.9;
   }
#menu li + li {
   margin-left: 16px;
}
#menu a {
     font-size: 19pt;
     font-family: "Bebas Neue", serif;
     color: red;
     transition: color 0.3s;
}
#menu a:hover,
#menu a:focus{
    color: #111111;
}
#hero{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: cover;
    height: 320px;
    background-image: url('../img/banner.webp');
}
h1{
    padding-left: 5px;
    margin-bottom: 20px;
    border-left: 3px solid #ec0509;
}
#container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 24px 70px;
}

#gallery-row {
      display: flex; 
      flex-wrap: wrap;
      gap: 16px;
    
     
}
#gallery-row figure {
    flex: 1 1 250px;
     

   
}
#gallery-row img  {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 16px;
    
}
#gallery-row figcaption {
    font-weight: bold;
}
#characters h2 {
    margin-bottom: 20px ;
    padding-left: 5px;
    border-left: 3px solid #ec0509;
}

#characters-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    
}

#card{
   padding-bottom: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: auto;
   border-radius: 10px;
   

}
#card #gabriel-month{
    width: 35%;
}
#card #cHloe , #card #mestreFu, #card #nino{
    width: 60% ;
}
#card #alya , #card #nathalie-img{
    width: 50%;
}

#card img {
    width: 45%;
}
#card:hover{
    opacity: 0.9;
   }
#text-card {
    padding: 30px;
    color: #ebebeb;
    font-family: "Bebas Neue", serif;
    font-size: 12pt;
    line-height: 1.3;
}
#characters div {
    flex: 1 1 220px;
}
#history{
    background: #111111;
    padding: 0 60px 0 ;
    border-top: 3px solid #f13239;
  
}  
#history #container{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    border-bottom: 2px solid #e91f26;
   
    
}
#container #coluna h2{
    color: #f13239;
    margin-bottom: 20px ;
    border-left: 3px solid #f13239;
    padding-left: 10px;

}
#container #coluna p{
 line-height: 1.3;
 font-size: 15pt;
}

#history img {
    width: 100%;
   
}
#container #coluna {
    flex: 1 1 250px ;


}

#container #coluna p {
   
    color: #ebebeb;
}
footer #container{
    padding: 50px 24px 50px ;
}
footer p {
    font-weight: bold;
   
}
footer a {
    color: #f13239;
    transition: color 0.2s;

}
footer a:hover {
 color: #ebebeb;
 white-space: wrap;
}

footer {
    background: #111111;
    color: #ebebeb;
    text-align: center;
}


#menu-mbl{
    display: none;
}
@media screen  and (max-width:610px){
    nav {
        display: none;
    }
    #menu-mbl{
        display: flex;
    }
    #menu-toggle{
        border: none;
        color: #f13239;
        background: none;
        cursor: pointer;
       font-size: 25px;
    }
    #menu-List{
        display: none;
        position: absolute;
        padding: 0;
        background: white;
        left: 55%;
        flex-direction: column;
        width: 60%;
        height: 100vh;
        top: -0.1%;
        margin: 0;
        gap: 20px;
      
    }
    #menu-List li {
        font-size: 22pt;
        padding: 0px 14px 0;
      
        
    }
    #menu-List a {
        color: #111111;
        font-family: "Bebas Neue", serif;
        font-weight: 100;
        transition: color 0.2s;
        
    }
    #menu-List a:hover{
        color: #f13239;
    }
   #menu-List.active{
        display: flex;
    }
    #menuClose{
        margin-bottom: 50px;
        padding: 5px 10px 5px;
        background: none;
        cursor: pointer;
        color: #f13239;
        border: none;
        border-bottom: 1px solid #f13239;
        font-size: 39px;
        text-align: left;
       
    }
    #hero {
       height: auto;
        min-height: 230px;
    }
    #characters h2 {
        font-size: 15pt;
        margin-bottom: 30px;
    }
    #characters-row{
        width: 77%;
        margin: 0 auto;
      
    }
    #history{

        padding: 0 15px 0;
    }
#history #coluna p{
    font-size: 10pt;
    
}
    #coluna p {
       font-size: 1pt;
       line-height: 1.4;
    }
   
    
}